.newsletter_text h2 {
  font-weight: 500;
  font-size: 54px;
  line-height: 56px;
  text-transform: capitalize;
  color: #313131;
}

.newsletter_text p {
  padding-top: 14px;
  font-size: 20px;
  line-height: 28px;
  color: #6B6B6B;

}

.newsletter_text a {
  padding: 18px 52px;
  margin-top: 24px;
  border: 1px solid #18A7B9;
  border-radius: 40px 5px;
  color: #18A7B9;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.newsletter_text a i {
  padding-left: 12px;
}

.newsletter_text a:hover {
  box-shadow: 0px 64.8148px 46.8519px rgba(24, 167, 185, 0.0759259), 0px 38.5185px 25.4815px rgba(24, 167, 185, 0.0607407), 0px 20px 13px rgba(24, 167, 185, 0.05), 0px 8.14815px 6.51852px rgba(24, 167, 185, 0.0392593), 0px 1.85185px 3.14815px rgba(24, 167, 185, 0.0240741);
  background-color: #18A7B9;
  color: #FAFAFA;
}

.main_footer {
  padding-top: 146px;
}

.footer_one p {
  padding-top: 13px;
  font-size: 16px;
  line-height: 28px;
  color: #6B6B6B;
}

.fone_social {
  padding-top: 30px;
}

.fone_social i {
  width: 29px;
  height: 29px;
  background: #18A7B9;
  text-align: center;
  line-height: 29px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  font-size: 12px;
  margin-right: 11px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.fone_social i:hover {
  transform: scale(1.1) translateY(-5px);
  -webkit-transform: scale(1.1) translateY(-5px);
  -moz-transform: scale(1.1) translateY(-5px);
  -ms-transform: scale(1.1) translateY(-5px);
  -o-transform: scale(1.1) translateY(-5px);
}

.footer_list h2,
.footer_four h2 {
  font-weight: 600;
  font-size: 18px;
  color: #313131;
  text-transform: capitalize;
  padding-bottom: 32px;
}

.footer_list ul li a {
  padding-bottom: 12px;
  font-size: 16px;
  color: #6B6B6B;
  text-transform: capitalize;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer_list ul li a:hover {
  transform: scale(1.1) translateX(10px);
  -webkit-transform: scale(1.1) translateX(10px);
  -moz-transform: scale(1.1) translateX(10px);
  -ms-transform: scale(1.1) translateX(10px);
  -o-transform: scale(1.1) translateX(10px);
  color: #18A7B9;
}

.ffour_input {
  position: relative;
}

.ffour_input input {
  padding: 12px 0 12px 13px;
  width: 100%;
  color: black;
  border: none;
  border: 1px solid transparent;
  background: #FAFAFA;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.ffour_input input::placeholder {
  color: #6B6B6B;
  font-size: 10px;
  text-transform: capitalize;
}


.ffour_input i {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 1px solid #18A7B9;
  color: #18A7B9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
  background: #FAFAFA;
}

.copyright {
  margin-top: 65px;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #F4F4F4;
}

.copyright p {
  font-weight: 500;
  font-size: 14px;
  color: #C2C2C2;
}